html, body {
	font-family: 'Source Sans Pro', sans-serif;
}

p {
	font-family:"Trebuchet MS", Helvetica, sans-serif
	font-size: 20px;

}
nav.navbar {
	padding: 0 5rem;
	border-radius: 0px;
	border: none;
	background: #222222;
}

#menu-header{
	float: right;
}

#menu-header li a {
	text-transform: uppercase;
	font-size: 13px;
	color: #e4e4e4;
	transition: 200ms ease-in-out all;
}
#menu-header li.active a {
	font-weight: 700;
	color: #f7f7f7;
	background: none;
}

/* HERO */
#hero {
	height: 100vh;

	background-size: cover;
	background-position: center;
	background-image: url('../img/hero.jpg');
	margin-top: -101px;
}
/* underline transition */
.sliding-middle-out {
	display: inline-block;
	position: relative;
	padding-bottom: 3px;
}
.sliding-middle-out:after {
	content: '';
	display: block;
	margin: auto;
	height: 2px;
	width: 0px;
	background: transparent;
	transition: width .5s ease, background-color .5s ease;
}
.sliding-middle-out:hover:after {
	width: 100%;
	background: #f7f7f7;
}

.footer{
	background: rgba(0,0,0,0);
	height: 90px;
	padding: 20px 0;
}
div.navbar.navbar-static.bottom{
	margin: 0;
	background-image: url('');
}
div.col-xs-12{
	padding: 0;
}
div.navbar.navbar-static.bottom p img{
}
#footer-nci {
	padding-left: 11px;
	font-size: 11px;
}
#footer-logo {
	padding: 15px 0;
}
.solid-border{
	border: .5px solid;
	opacity:.5;
}
#ext{
	margin-left: -20px;
	width: 300px;
}
footer div ul li a{
	color:black;
	font-size: 12px;

}
span.email{
	color:blue;
}

form#container-form{
	border:1px solid rgba(128, 128, 128, 0.47);;
	border-radius: 5px;
	padding:10px;
}
div.col-sm-10{
	width:250px;
	margin-left: 0px;
}
button.btn.btn-success{
	width: 100px;
}
div.form-group{
	padding-left: 50px;
}
h3.paddingtitleform{
	padding-left: 20px;
}
div.form-group.text-center{
	padding:0px;
}
#payroll-container{
	margin-top: 100px;
	width: 550px;
	height: 401px;
}
div.form-group.pr{
	padding-left: 0px;
}
div.form-group.prr{
	padding-left: 60px;
}
#payroll-reg-container{
	margin-top: 50px;
	width: 700px;
	height: 725px;
}
#contact-us-margin{
	padding-bottom: 26px;
}
#support-margin{
	padding-bottom: 88px;
}
#privacy-pad{
	padding-bottom: 52px;
}
#dropdown{
	height: 34px;
	width: 220px;
	border-radius: 3px;
	-webkit-transition: all 0.30s ease-in-out;
	-moz-transition: all 0.30s ease-in-out;
	-ms-transition: all 0.30s ease-in-out;
	-o-transition: all 0.30s ease-in-out;
	outline: none;
	padding: 3px 0px 3px 3px;
	margin: 5px 1px 3px 0px;
}
#dropdown:focus{
	box-shadow: 0 0 2px rgba(103, 169, 226, 1);
	padding: 3px 0px 3px 3px;
	margin: 5px 1px 3px 0px;
	border: 1px solid rgba(103, 169, 226, 1);
}
#control-panel-container{
	margin-top: 100px;
	width: 550px;
	height: 401px;
}
hr{
	border: .5px solid #c7c7c7;
	margin: 3px 15px 20px 15px;}
#home_content{
	padding:30px;
	padding-top: 50px;
	padding-bottom: 50px;
}
.services{
		border:1px solid #eee;
		height: 650px;
		padding:10px;
		border-radius: 5px;
		box-shadow: 2px 2px 5px #BEBEBE;
	}
	.title{
		font-size: 20px;
		color:#006495;
		font-weight: bold;
	}
	.servicestitle{
		color:#128CDF;
		font-size: 17px;
		font-weight: bold;
	}
	.label-important{
		
		background-color: #E0A025;
		color:white;
		padding:2px;
		border-radius: 3px;
		font-weight: bold;
	}
.definition{
	padding:5px;
	color:rgb(51, 51, 51);
}
.hero-content{
	padding-top:300px;
}
.item{
	color:white;
	font-size: 50px;
	font-weight: bold!important;
	text-align: center;
}
.icons{
	padding:10px;
}
.icons:hover{
	color:#aaa;

}
navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:focus, .navbar-default .navbar-nav > .open > a:hover{
	color:#333;
	
}

