html, body {
	font-family: 'Roboto Condensed', sans-serif;
}

p {
	font-family:"Trebuchet MS", Helvetica, sans-serif
	font-size: 20px;

}
nav.navbar {
	border-radius: 0px;
	border: none;
	background: #222222;
	z-index: 1;
}

#menu-header{
	float: right;
}

#menu-header li a {
	text-transform: uppercase;
	font-size: 13px;
	color: #e4e4e4;
	 
}
#menu-header li.active a {
	font-weight: 700;
	color: #f7f7f7;
	background: none;
}
#responsive-menu-header li a{
	text-transform: uppercase;

	font-size: 13px;
	color: #e4e4e4;
}
#responsive-menu-header li a:hover{
	text-decoration: none;
}
#responsive-menu-header li.active a{
	font-weight: 700;
	color: #f7f7f7;
	background: none;
	text-decoration: none;
}

/* HERO */
#hero {
	height: 105vh;
	background-attachment: fixed;
	background-size: cover;
	background-position: center;
	background-image: url('../img/hero.jpg');
	margin-top: -101px;
	position: relative;
}
#sm-hero{
	height: 105vh;
	background-attachment: fixed;
	background-size: cover;
	background-position: center;
	background-image: url('../img/hero.jpg');
	margin-top: -101px;
	position: relative;
}
.hero-overlay {
	position: absolute;
	background: rgba(0, 0, 0, 0.48);
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
}
/* underline transition */
.sliding-middle-out {
	display: inline-block;
	position: relative;
	padding-bottom: 3px;
}
.sliding-middle-out:after {
	content: '';
	display: block;
	margin: auto;
	height: 2px;
	width: 0px;
	background: transparent;
	transition: width .5s ease, background-color .5s ease;
}
.sliding-middle-out:hover:after {
	width: 100%;
	background: #f7f7f7;
}

.footer{
	background: rgba(0,0,0,0);
	height: 90px;
	padding: 20px 0;
	margin-left: 25px; 
}
div.navbar.navbar-static.bottom{
	margin: 0;
	background-image: url('');
}
div.col-xs-12{
	padding: 0;
}
#footer-nci {
	padding-left: 11px;
	font-size: 11px;
}
#footer-logo {
	padding: 15px 0;
}
.solid-border{
	border: .5px solid;
	opacity:.5;
}

#ext{
	margin-left: -20px;
	width: 300px;
}
footer div ul li a{
	color:black;
	font-size: 12px;

}
span.email{
	color:blue;
}

form#container-form{
	border:1px solid rgba(128, 128, 128, 0.47);;
	border-radius: 5px;
	padding:10px;
}
div.col-sm-10{
	width:250px;
	margin-left: 0px;
}
button.btn.btn-primary{
	width: 243px;
}
div.form-group{
	padding-left: 50px;
}
h3.paddingtitleform{
	padding-left: 20px;
}
div.form-group.text-center{
	padding:0px;
	padding-left: 75px;
}
div#btnsend{
	padding:0px;
	text-align: center;
}
#payroll-container{
	margin-top: 100px;
	width: 550px;
	height: 401px;
}
div.form-group.pr{
	padding-left:0px;
}
div.form-group.prr{
	padding-left: 60px;
}
#payroll-reg-container{
	margin-top: 50px;
	width: 700px;
	height: 875px;
}
#contact-us-margin{
	padding-bottom: 26px;
}
#support-margin{
	padding-bottom: 88px;
}
#privacy-pad{
	padding-bottom: 52px;
}
#dropdown{
	height: 34px;
	width: 220px;
	border-radius: 3px;
	-webkit-transition: all 0.30s ease-in-out;
	-moz-transition: all 0.30s ease-in-out;
	-ms-transition: all 0.30s ease-in-out;
	-o-transition: all 0.30s ease-in-out;
	outline: none;
	padding: 3px 0px 3px 3px;
	margin: 5px 1px 3px 0px;
}
#dropdown:focus{
	box-shadow: 0 0 2px rgba(103, 169, 226, 1);
	padding: 3px 0px 3px 3px;
	margin: 5px 1px 3px 0px;
	border: 1px solid rgba(103, 169, 226, 1);
}
#control-panel-container{
	margin-top: 100px;
	width: 550px;
	height: 401px;
}
hr{
	border: .5px solid #c7c7c7;
	margin: 3px 15px 20px 15px;}
#home_content{
	padding:50px;
}
.services{
	border:1px solid #eee;
	padding:20px;
	border-radius: 5px;
	box-shadow: 2px 2px 5px #BEBEBE;
	height: 170px;
	
	}
.col-md-3.services{
	height: 180px;
}
.col-md-3.services.h{
	height: 240px;
	margin-left:63px;
}
.col-md-3.services.b{
	height: 180px;
}
.col-xs-12.hgt{
	margin-top: 200px;
	height: 273.5px; 
	margin-bottom: 40px;
}
.col-xs-12.hgt2{
	height: 500px; 
	margin-bottom: 40px;
}
.servicestitle{
	color:#128CDF;
	font-size: 17px;
	font-weight: bold;
	height: 20px;
	}
.label-important{
	background-color: #E0A025;
	color:white;
	padding:2px;
	border-radius: 3px;
	font-weight: bold;
	}
.definition{
	padding:5px;
	color:rgb(51, 51, 51);
}
#hero-content {
	margin-top: 60%;
	text-align: center;
	color: #f8f8f8;
}
#hero-content h1,
#hero-content h2,
#hero-content h3 {
	margin: 0;
	display:none;
}
#hero-content h2 {
	font-weight: 300;
}
#hero-content h1 {
	font-weight: 600;
	font-size: 36px;
	text-transform: uppercase;
}
.item{
	color:white;
	font-size: 50px;
	font-weight: bold!important;
	text-align: center;
}
a.title{
	text-decoration: none;
	transition: 200ms ease-in-out all;color:#128CDF;
}
a.title:hover{
	color:#006495;
	font-size: 18px;

}
a.price {
	display: inline-block;
	margin-top: 1.5rem;
	border: 2px solid rgb(233, 97, 44);
	text-decoration: none;
	color: rgb(233, 97, 44);
	padding: 8px 30px;
	border-radius: 2px;
	font-size: 12px;
	transition: 200ms ease-in-out all;
}
.price:hover {
	color: #f8f8f8;
	background-color: rgb(233, 97, 44);
}
.icon{
	color: #F2635F;
	margin-right: 20px;
}	
navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:focus, .navbar-default .navbar-nav > .open > a:hover{
	color:#333;
}
.sidenav {
    height: 50%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    list-style-type: none;
}

.sidenav a {
    text-decoration: none;
    font-size: 18px;
    text-align: center;
    color: #818181;
    display: block;
    transition: 0.3s;
	list-style-type: none;
}

.sidenav a:hover{
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}


@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
#myCarousel{
	font-family: 'Source Sans Pro', sans-serif !important;
	font-weight: 300;
}
div.form-group.pr.text-center{
	padding-left:0px;
}
div.col-sm-offset-4.col-sm-8{
	margin-left:162px;
}
div.col-sm-offset-4.col-sm-8.fp{
	margin-left:210px
}
button.btn.btn-primary.r{
	width: 100px;
}
.btn.btn-success{
	width: 100px;
}

div.form-group.text-center.r{
	padding-top: 15px;
	padding-left: 108px;
}
option.dropdown-header{
	font-size:15px;
}
div.col-xs-12.au{
	margin-bottom: 10px;
}
/* Carousel */
.carousel-inner .item h3 {
	font-weight: 300;
	font-size: 4rem;
	text-transform: uppercase;
	margin: 0;
}
.carousel-inner .item h2 {
	margin-top: .2rem;
	font-size: 5rem;
	font-weight: 700;
	text-transform: uppercase;
}
#site-map-footer{
	margin-bottom: 105px;
}
option.dropdown-header.item{
	font-size: 16px;
	color: grey;
}
.fadeInDown{
	font-size: 28px;
}
.fadeInUp{
	font-size: 24px;
}
.row.mb-2{
	margin-bottom: 20px;
}
.resp{
	height: 100%
}

/*Ghost button*/
.ghost-button {
    color: rgb(233, 97, 44);
    background: #ffffff;
    padding: 7px 12px;
    display: inline-block;
    text-decoration: none;
    transition: all 500ms ease-in-out;

}
.ghost-button:hover, .ghost-button:active {
  color:#ffffff;
  background:rgb(233, 97, 44);
}
.ghost-button2 {

	border-collapse: collapse;
	border: 2px solid rgb(233, 97, 44);
    color: rgb(233, 97, 44);
    background: #ffffff;
    margin:0;
    padding: 0;
    display: inline-block;
    text-decoration: none;
    transition: all 200ms ease-in-out;

}
a.ghost-button2{
	margin-top: 10px;
}
/*End Ghost Button*/
.extwid{
	width: 275px;
}
	/*MOBILE FOOTER*/
li.inline-menus{
	display: inline-block;
	margin-bottom: 20px;
}
li.inline-menus a{
	padding: 0px 5px;
	color:#808080;
}
ul.nav.navbar-nav{
	margin-top: 15px;
	height: 20px;
	text-align: center;

}
div.text-center{
	margin-top: -30px;
}
div.text-center.mtop{
	margin-top: -8px;
}
	/*END MOBILE FOOTER*/